/* Reddit 2010 Aesthetic */
:root {
  --reddit-blue: #CEE3F8;
  --reddit-blue-dark: #24A0ED;
  --reddit-border-blue: #5F99CF;
  --reddit-white: #FFFFFF;
  --reddit-grey-light: #F0F0F0;
  --reddit-grey-text: #888;
  --reddit-black: #000;
  --upvote-orange: #FF8B60;
  --downvote-blue: #9494FF;
}

body {
  font-family: Verdana, Arial, sans-serif;
  font-size: 14px;
  background-color: var(--reddit-grey-light);
  margin: 0;
  padding: 0;
}

#header {
  background-color: var(--reddit-blue);
  border-bottom: 1px solid var(--reddit-border-blue);
  padding: 10px;
  display: flex;
  align-items: center;
}

#header-img {
  width: 120px;
  height: 40px;
  background-image: url('https://www.redditstatic.com/wbd-assets/web-production/2024.18.0/blob-ed1b86e58b150c2a8bb03b713398402179b29ec1.svg');
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 20px;
}

#header .tab-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

#header .tab-menu li a {
  display: block;
  padding: 10px 15px;
  color: var(--reddit-black);
  text-decoration: none;
  font-weight: bold;
}

#header .tab-menu li.selected a {
  background-color: var(--reddit-white);
  border: 1px solid var(--reddit-border-blue);
  border-bottom: none;
}

.content {
  width: 960px;
  margin: 20px auto;
  display: flex;
}

.main-content {
  width: 70%;
  background-color: var(--reddit-white);
  border: 1px solid var(--reddit-border-blue);
  padding: 10px;
}

.sidebar {
  width: 30%;
  margin-left: 20px;
}

.post {
  display: flex;
  margin-bottom: 15px;
  border-bottom: 1px solid var(--reddit-grey-light);
  padding-bottom: 15px;
}

.post .voting {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.post .arrow {
  width: 0; 
  height: 0; 
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  cursor: pointer;
}

.post .arrow.up {
  border-bottom: 8px solid var(--upvote-orange);
}

.post .arrow.down {
  border-top: 8px solid var(--downvote-blue);
}

.post .score {
  font-weight: bold;
  margin: 5px 0;
  color: var(--reddit-black);
}

.post .thumbnail {
  width: 70px;
  height: 70px;
  background-color: var(--reddit-grey-light);
  margin-right: 10px;
}

.post .entry {
  display: flex;
  flex-direction: column;
}

.post .entry .title a {
  font-size: 18px;
  color: var(--reddit-blue-dark);
  text-decoration: none;
}

.post .entry .title a:visited {
  color: #551a8b;
}

.post .entry .tagline {
  font-size: 12px;
  color: var(--reddit-grey-text);
}

.post .entry .buttons {
  margin-top: 10px;
}

.post .entry .buttons a {
  font-size: 12px;
  color: var(--reddit-grey-text);
  text-decoration: none;
  margin-right: 10px;
  font-weight: bold;
}